.section-footer {
 
    

    &--copyright {
        font-size: $default-font-size2;
        color: $color-primary;




        @include media-breakpoint-down(xl) {
                font-size: .3rem;
              
          }
          


        @include media-breakpoint-down(lg) {
              font-size: .3rem;
              
              
          }



          
        @include media-breakpoint-down(md) {
          @media (max-width: 576px) { 
            font-size: 1rem;
            
            
           
          }
        }
  
  
          

        

    }
    
}