//COLOR
$color-primary: #deb887; 
$color-primary-deep:#FF4F00; 
$color-primary-black: #000000; //black


$color-secondary-white:#ffffff;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


//common variables
$navbar-brand-width:12rem;//140px
$navbar-brand-height: 9rem; // 50px

$navbar-brand-width-mobile:8rem;
$navbar-brand-height-mobile: 5rem; 


$logo-width: 12rem;
$logo-height: 10rem;

$logo-width-mobile: 7rem;
$logo-height-mobile: 5rem;


//FONT

$default-font-size: 1.4rem;
$default-font-size2:1.5rem;
$heading-primary-font-main:7rem;
$heading-primary-font-sub: 3rem;

$heading-primary-font-main-small:3rem;

$heading-primary-font-sub: 2rem;

$heading-secondary-font-main:5rem;

$heading-secondary-font: 1.8rem;


