.btn {
    &,
    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding:1.5 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        font-weight: 700;
       
       

        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-primary, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0  .5rem  1rem  rgba($color-primary-black, .2);

    }
    &--white {
        background-color: $color-secondary-white;
        color: $color-primary-black;

        &::after {
            background-color: $color-secondary-white;
            
        }

        &::after {
            background-color: $color-secondary-white;
        }
    }

    &--orange {
        background-color: $color-primary;
        color: $color-primary-black;
        font-weight: 700;

        &::after {
            background-color: $color-primary;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        font-weight: 700;
        color: $color-secondary-white;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
        font-weight: 700;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-secondary-white;
        box-shadow: 0 1rem 2rem rgba($color-primary-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-primary-black, .15);
        transform: translateY(0);
    }

   


    @include media-breakpoint-down(xl) {
      
            position: absolute;
            
         }
       



      @include media-breakpoint-down(md) {
       
            margin-top: 100rem;

        
    }

   
}



.section-form__submit {
    width: 17rem;
    height: 3rem;
    margin-left: 10rem;
    margin-bottom: 2rem;
    background-color: $color-primary;
    font-size: $default-font-size2;
    color: $color-primary-black;
    font-weight: 800;
    border: none;
    border-radius: 3rem;
   

   
      
    
      @include media-breakpoint-down(lg) {
            width: 13rem;
            height: 3rem;
            margin-left: 8rem;
            margin-bottom: 2rem;
            background-color: $color-primary;
            font-size: $default-font-size2;
            color: $color-primary-black;
            font-weight: 800;
    } 

      



.carousel-caption__btn {
   
  
 
    position: relative;
    bottom: 45rem;
   

    
    @include media-breakpoint-down(xl) {
       
            position: absolute;
          

        }
      
    
    
    @include media-breakpoint-down(lg) {
       
            position: relative;
            bottom: 2rem;

        }
       

      
  
  }





}


.open-modal-btn {
    position: absolute;
    top: -25rem;
    right: 42rem;
    background-color: $color-primary;
    padding: 1rem 4rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: $color-primary-black;
    text-transform: uppercase;
    border: none;
    border-radius: 2rem;
    cursor: pointer;

}


.header-btn {
    // position: absolute;
    // top: -25rem;
    // right: 42rem;
    background-color: $color-primary;
    padding: 1rem 4rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: $color-primary-black;
    text-transform: uppercase;
    border: none;
    border-radius: 2rem;
    cursor: pointer;

}
