.section-contact {
  
    


    &--heading3 {
      font-size: $heading-secondary-font;
      margin-bottom:5rem;
      color: $color-primary;
      font-weight: 500;
      text-decoration: underline;
     
     
     


    

    }


    


    &__icon {
      color: $color-primary;
      font-size: 4rem;
     
      
      
      @include media-breakpoint-down(lg) {
        
      }
      
      
      
      @include media-breakpoint-down(md) {

      }

        
  }

    
  
  &__email {
        font-size: $heading-secondary-font;
        color: $color-secondary-white;
        margin-bottom: 10rem;
       

        
          


          @include media-breakpoint-down(xl) {
               font-size: 2.3rem;
              
             
          }
       

    
          @include media-breakpoint-down(lg) {
                font-size: 3rem;
                
          }

        
        
        }

  

    &__phone {
        font-size: $heading-secondary-font;
        color: $color-secondary-white;


       



          @include media-breakpoint-down (lg) {
               font-size: 2.3rem;
              
             
          }
       
    
    
          @include media-breakpoint-down (md) {
                font-size: 3rem;
                
             
          }

         

    }


   

  



  




    .section-contact__link {
  text-decoration: none;

}




}